
 html, body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

 body {
    margin: 0;
    background: linear-gradient(#70c5ce, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
/* @media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
  } */
}

  canvas {
    background: #70c5ce;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
  }

  .ui {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
  }

  .controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }

  button {
    padding: 8px 14px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }